<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Kpi</title>
</head>
<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Total Score</h4>
                            <p></p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-bordered">
                                <thead>
                                    <th>No. </th>
                                    <th>Individual Score </th>
                                    <th>Tazkia Score </th>
                                    <th>Total Score</th>
                                    <th>Predikat</th>
                                </thead>

                                <tbody>
                                <tr>
                                    <td >1</td>
                                    <td th:text="${individual}"></td>
                                    <td th:text="${tazkia}"></td>
                                    <td th:text="${total}"></td>
                                    <td th:if="${total} > 450">A</td>
                                    <td th:if="${total > 375 && total < 451}">B</td>
                                    <td th:if="${total > 299 && total < 376}">C</td>
                                    <td th:if="${total > 225 && total < 300}">D</td>
                                    <td th:if="${total < 226}">E</td>
                                </tr>
                                </tbody>
                            </table>

                            <hr>

                            <div class="col-sm-4">
                                <p>Tabel Kriteria Predikat</p>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>No.</th>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Range</th>
                                    <td>451 - 500</td>
                                    <td>376 - 450</td>
                                    <td>300 - 375</td>
                                    <td>226 - 299</td>
                                    <td>100 - 225</td>
                                </tr>
                                <tr>
                                    <th>Predikat</th>
                                    <td>Jauh diatas standar</td>
                                    <td>Diatas standar</td>
                                    <td>Sesuai standar</td>
                                    <td>Dibawah standar</td>
                                    <td>Jauh dibawah Standar</td>
                                </tr>
                                <tr>
                                    <th>Huruf</th>
                                    <td>A</td>
                                    <td>B</td>
                                    <td>C</td>
                                    <td>D</td>
                                    <td>E</td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>