<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Input Staff Kpi</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Input Kpi</h4>
                            <p class="category"></p>
                        </div>
                        <hr>
                        <div class="content" th:each="staff : ${detail}">
                            <form th:action="@{/staff/detail}" method="post">
                                <center><h3>Employee Identity</h3></center>
                                <br>
                                <div class="row col-sm-offset-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Employee Name</b></label><br><br>
                                            <span th:text="${staff.get().employeeName}">asdasdas</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>NIK</b></label><br><br>
                                            <span th:text="${staff.get().employeeNumber}">234343553</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Job Title</b></label><br><br>
                                            <span th:text="${staff.get().jobTitle}">asdsadsad</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-sm-offset-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Department</b></label><br><br>
                                            <span th:text="${staff.get().department}">asdasdas</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>area</b></label><br><br>
                                            <span th:text="${staff.get().area}">234343553</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Username</b></label><br><br>
                                            <span th:text="${staff.get().user.username}">asdsadsad</span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="tab-content">
                                    <div class="row">
                                        <center>
                                            <div class="funkyradio-success">
                                                <a th:href="@{/staff/list}" class="btn btn-danger">Back to Staff list</a>
                                            </div>
                                        </center>
                                    </div>
                                    <!--ENDTAZKIAVALUE-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>