<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Input Staff Kpi</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Input Kpi</h4>
                            <p class="category"></p>
                        </div>
                        <hr>
                        <div class="content" th:each="staff : ${staffKpi}">
                            <form th:action="@{/staff/kpi(staff=${staff.staff.id})}" method="post">
                                <center><h3>Employee Identity</h3></center>
                                <br>
                                <div class="row col-sm-offset-2">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Employee Name</b></label><br><br>
                                            <span th:text="${staff.staff.employeeName}">asdasdas</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>NIK</b></label><br><br>
                                            <span th:text="${staff.staff.employeeNumber}">234343553</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><b>Job Title</b></label><br><br>
                                            <span th:text="${staff.staff.jobTitle}">asdsadsad</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#individual" role="tab" data-toggle="tab">Invidiual
                                            Achievment Score</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tazkiavalue" role="tab" data-toggle="tab">Tazkia
                                            Value Score</a>
                                    </li>
                                </ul>
                                <hr>
                                <br>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="individual">
                                        <div class="container">
                                            <!---->
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Employee Name</label>
                                                            <input type="text" th:value="${staffKpi.staff.employeeName}" disabled
                                                                   class="form-control border-input">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>Kpi</label><br>

                                                            <select name="kpi" class="js-example-basic-multiple form-control border-input" required style="width: 100%;" multiple="multiple" >
                                                                <option th:each="rl: ${daftarKpi}"
                                                                        th:value="${rl.id}"
                                                                        th:text="${rl.keyResult}">Lektor
                                                                    <input type="text" name="" th:value="">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>

                                    <!--TAZKI VALUE PANEL-->
                                    <div role="tabpanel" class="tab-pane fade" id="tazkiavalue">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Employee Name</label>
                                                        <input type="text" name="baseLine" th:value="${staffKpi.staff.employeeName}"
                                                               class="form-control border-input" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label>Kpi</label><br>

                                                        <select class="js-example-basic-multiple form-control border-input"
                                                                required name="kpi" style="width: 100%;"
                                                                multiple="multiple">
                                                            <option th:each="rl: ${tazKpi}"
                                                                    th:value="${rl.id}"
                                                                    th:text="${rl.keyResult}">Lektor
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <center>
                                            <div class="funkyradio-success">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                                <a th:href="@{/staff/list}" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </center>
                                    </div>
                                    <!--ENDTAZKIAVALUE-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>