<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Daftar Karyawan</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Staff</h4>
                            <p class="category">Daftar Staff</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table" border="0">
                                <form method="get">
                                    <tr>
                                        <td>Search by :
                                            <input type="text" id="search" autocomplete="off"
                                                   placeholder="Search Name Here" name="search"
                                                   th:value="${search}">
                                            <input type="submit" value="Search" class="btn btn-success"> |
                                            <a th:href="@{/staff/form}" class="btn btn-primary">Create New Employee</a>
                                        </td>

                                    </tr>
                                    <tr style="border-bottom-color: whitesmoke">
                                        <td>Show <span sd:page-size-selector="javascript"></span> entries</td>
                                    </tr>
                                </form>
                            </table>
                            <div class="container-fluid">
                                <table class="table table-bordered">
                                    <thead>
                                    <th>No.</th>
                                    <th>Employee Name</th>
                                    <th>NIK</th>
                                    <th>Job Title</th>
                                    <th>Department</th>
                                    <th>Area</th>
                                    <th th:colspan="3">
                                        <center>Aksi</center>
                                    </th>
                                    </thead>

                                    <tbody>
                                    <tr th:each="st, row : ${daftarStaff}">
                                        <td th:text="${(row.index + 1) + (daftarStaff.number * daftarStaff.size)}"></td>
                                        <td th:text="${st.employeeName}">Thuba Jazil, M.Sc., (Fin)</td>
                                        <td th:text="${st.employeeNumber}"></td>
                                        <td th:text="${st.jobTitle}"></td>
                                        <td th:text="${st.department}"></td>
                                        <td th:text="${st.area}"></td>
                                        <td><a th:href="@{/staff/detail(staff=${st.id})}" target="output"
                                               class="btn btn-info">View Detail</a></td>
                                        <td><a th:href="@{/staff/update(staff=${st.id})}" target="output"
                                               class="btn btn-warning">Edit</a></td>
                                        <td>
                                            <form th:action="@{/staff/delete(id=${st.id})}" method="post">
                                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                 ' to recover this imaginary file!')">Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div sd:pagination-summary="" style="font-size: small">info</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <nav class="pull-right">
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>