<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<head>
    <meta charset="UTF-8"/>
    <title>Input Staff</title>
</head>


<body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        var roleSekarang = /*[[${roleSekarang}]]*/ ["001", "002"];
        $( document ).ready(function() {
            $('#pilihanRole').select2();
            console.log( "Role sekarang : "+roleSekarang );

            var roleSekarangId = [];
            for(var i=0; i<roleSekarang.length; i++) {
                roleSekarangId.push(roleSekarang[i].id);
            }

            console.log( "ID Role sekarang : "+roleSekarangId );

            $('#pilihanRole').val(roleSekarangId);
            $('#pilihanRole').trigger("change");
        });

    </script>
</th:block>
<section layout:fragment="content">
    <br>
    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Input Role</h4>
                        </div>
                        <div class="content" th:each="staff : ${staff}">
                            <form th:action="@{/staff/role(staff=${staff.id})}" th:object="${staffRoleForm}" method="post">
                                <input type="hidden" th:field="*{staff}" />
                                <center>
                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Silahkan pilih role</label>
                                            <select name="roles" id="pilihanRole" class="form-control" 			                                 multiple="multiple" >
                                                     <option  th:each="rl, row : ${pilihanRole}"
                                                              th:text="${rl.roleName}"
                                                                th:value="${rl.id}">Lektor
                                                     </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                </center>
                                <hr>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Input Role Karyawan</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>


</section>


</body>
</html>
