<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Penilaian Kinerja Staf</title>
</head>


<body>
<section layout:fragment="content">

    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Penilaian Kinerja</h2>
                            <p class="category"></p>
                        </div>
                        <hr/>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#individual" role="tab" data-toggle="tab">Invidiual Achievment Score</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tazkiavalue" role="tab" data-toggle="tab">Tazkia Value Score</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="individual">
                              <div class="container">
                                  <!---->
                                <div class="row form-group has-danger">
                                    <div class="col-sm-5">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Key Result Area</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><h3>1</h3></td>
                                                <td>Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                    mahasiswa S2 STEI Tazkia</td>
                                            </tbody>
                                        </table>

                                        <!--Section Bukti-->

                                        <button type="button" class="btn btn-info hover-shadow cursor" onclick="openModal();currentSlide(1)">Lihat Bukti Kinerja</button>


                                        <div id="myModal" class="modal">
                                            <div class="modal-content">
                                                <span class="close cursor" onclick="closeModal()">&times;</span>

                                                <div class="mySlides">
                                                    <embed src="../img/4.pdf" style="width:100%;height:665px;" type='application/pdf'>
                                                </div>

                                                <div class="mySlides">
                                                    <embed src="../img/4.pdf" style="width:100%;height:800px;" type='application/pdf'>
                                                </div>

                                                <div class="mySlides">
                                                    <embed src="../img/java.pdf" style="width:100%;height:800px;" type='application/pdf'>
                                                </div>

                                                <div class="mySlides">
                                                    <embed src="../img/4.pdf" style="width:100%;height:800px;" type='application/pdf'>
                                                </div>

                                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                                                <div class="caption-container">
                                                    <p id="caption"></p>
                                                </div>



                                            </div>
                                        </div>

                                        <!-- END Section Bukti-->

                                    </div>


                                    <br/><br/>
                                    <div class="col-sm-5">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10,00</td>
                                                <td>Target : 5</td>
                                            </tr>
                                            <tr>
                                                <td>Base line : 4</td>
                                                <td>Hasil &nbsp;&nbsp;: </td>
                                            </tr>
                                            <tr>
                                                <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                  <div class="funkyradio">
                                      <div class="funkyradio-success">
                                          <input type="radio" name="radio" id="1radio2"/>
                                          <label for="1radio2"><b>5 . Data base mahasiswa dan NIM sudah siap sebelum</b> </label>
                                      </div>
                                      <div class="funkyradio-primary">
                                          <input type="radio" name="radio" id="1radio3" />
                                          <label for="1radio3"><b>4 . Mahasiswa sudah mendapatkan NIM sebelum perkuliahan dimulai</b></label>
                                      </div>
                                      <div class="funkyradio-info">
                                          <input type="radio" name="radio" id="1radio4" />
                                          <label for="1radio4"><b>3 . 20% mahasiswa mendapatkan NIM ketika kuliah dimulai</b></label>
                                      </div>
                                      <div class="funkyradio-warning">
                                          <input type="radio" name="radio" id="1radio5" />
                                          <label for="1radio5"><b>2 . Terjadi kesalahan data base mahasiswa sebesar 25%</b></label>
                                      </div>
                                      <div class="funkyradio-danger">
                                          <input type="radio" name="radio" id="1radio6" />
                                          <label for="1radio6"><b>1 . terjadi kesalahan data base mahasiswa sebesar 50%</b></label>
                                      </div>
                                  </div>
                                  <!---->

                                  <!---->
                                  <div class="row form-group has-danger">
                                      <div class="col-sm-5">
                                          <table class="table table-striped">
                                              <thead>
                                              <tr>
                                                  <th>Key Result Area</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                              <tr>
                                                  <td><h3>2</h3></td>
                                                  <td>Pengajuam NIRM ke Depag</td>
                                              </tbody>
                                          </table>
                                      </div>
                                      <br/><br/>
                                      <div class="col-sm-5">
                                          <table class="table">
                                              <tbody>
                                              <tr>
                                                  <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10,00</td>
                                                  <td>Target : 5</td>
                                              </tr>
                                              <tr>
                                                  <td>Base line : 4</td>
                                                  <td>Hasil &nbsp;&nbsp;: </td>
                                              </tr>
                                              <tr>
                                                  <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
                                                  <td></td>
                                              </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>

                                  <div class="funkyradio">
                                      <div class="funkyradio-success">
                                          <input type="radio" name="radio2" id="2radio2"/>
                                          <label for="2radio2"><b>5 . NIRM dari Kemenag sudah didapatkan sebelum UAS semester berjalan</b> </label>
                                      </div>
                                      <div class="funkyradio-primary">
                                          <input type="radio" name="radio2" id="2radio3" />
                                          <label for="2radio3"><b>4 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                      </div>
                                      <div class="funkyradio-info">
                                          <input type="radio" name="radio2" id="2radio4" />
                                          <label for="2radio4"><b>3 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                      </div>
                                      <div class="funkyradio-warning">
                                          <input type="radio" name="radio2" id="2radio5" />
                                          <label for="2radio5"><b>2 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                      </div>
                                      <div class="funkyradio-danger">
                                          <input type="radio" name="radio2" id="2radio6" />
                                          <label for="2radio6"><b>1 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berikutnya berjalan</b></label>
                                      </div>
                                  </div>
                                  <!---->

                              </div>

                            </div>


                            <!--TAZKI VALUE PANEL-->
                            <div role="tabpanel" class="tab-pane fade" id="tazkiavalue">

                                <div class="container">
                            <h3>Tauhid</h3>
                                    <hr/>
                                    <div class="row form-group has-danger">
                                        <div class="col-sm-5">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Key Result Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><h3>1</h3></td>
                                                    <td>Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                        mahasiswa S2 STEI Tazkia</td>
                                                </tbody>
                                            </table>

                                        </div>

                                        <br/><br/>
                                        <div class="col-sm-5">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10,00</td>
                                                    <td>Target : 5</td>
                                                </tr>
                                                <tr>
                                                    <td>Base line : 4</td>
                                                    <td>Hasil &nbsp;&nbsp;: </td>
                                                </tr>
                                                <tr>
                                                    <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <input type="radio" name="radio3" id="3radio2"/>
                                            <label for="3radio2"><b>5 . Data base mahasiswa dan NIM sudah siap sebelum</b> </label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="radio" name="radio3" id="3radio3" />
                                            <label for="3radio3"><b>4 . Mahasiswa sudah mendapatkan NIM sebelum perkuliahan dimulai</b></label>
                                        </div>
                                        <div class="funkyradio-info">
                                            <input type="radio" name="radio3" id="3radio4" />
                                            <label for="3radio4"><b>3 . 20% mahasiswa mendapatkan NIM ketika kuliah dimulai</b></label>
                                        </div>
                                        <div class="funkyradio-warning">
                                            <input type="radio" name="radio3" id="3radio5" />
                                            <label for="3radio5"><b>2 . Terjadi kesalahan data base mahasiswa sebesar 25%</b></label>
                                        </div>
                                        <div class="funkyradio-danger">
                                            <input type="radio" name="radio3" id="3radio6" />
                                            <label for="3radio6"><b>1 . terjadi kesalahan data base mahasiswa sebesar 50%</b></label>
                                        </div>
                                    </div>
                                    <!---->

                                    <!---->
                                    <div class="row form-group has-danger">
                                        <div class="col-sm-5">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Key Result Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><h3>2</h3></td>
                                                    <td>Pengajuam NIRM ke Depag</td>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br/><br/>
                                        <div class="col-sm-5">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10,00</td>
                                                    <td>Target : 5</td>
                                                </tr>
                                                <tr>
                                                    <td>Base line : 4</td>
                                                    <td>Hasil &nbsp;&nbsp;: </td>
                                                </tr>
                                                <tr>
                                                    <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <input type="radio" name="radio4" id="4radio2"/>
                                            <label for="4radio2"><b>5 . NIRM dari Kemenag sudah didapatkan sebelum UAS semester berjalan</b> </label>
                                        </div>
                                        <div class="funkyradio-primary">
                                            <input type="radio" name="radio4" id="4radio3" />
                                            <label for="4radio3"><b>4 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                        </div>
                                        <div class="funkyradio-info">
                                            <input type="radio" name="radio4" id="4radio4" />
                                            <label for="4radio4"><b>3 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                        </div>
                                        <div class="funkyradio-warning">
                                            <input type="radio" name="radio4" id="4radio5" />
                                            <label for="4radio5"><b>2 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berjalan</b></label>
                                        </div>
                                        <div class="funkyradio-danger">
                                            <input type="radio" name="radio4" id="4radio6" />
                                            <label for="4radio6"><b>1 . NIRM diajukan ke Kemenag sebelum jadual UTS semester berikutnya berjalan</b></label>
                                        </div>
                                    </div>
                                    <!---->

                                </div>

                            </div>
                            <!--ENDTAZKIAVALUE-->

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>


</html>