<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Penilaian Kinerja Staf</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Individual Achievment Score</h4>
                            <p class="category">Penilaian Kinerja</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-bordered">
                                <thead >
                                <th>No.</th>
                                <th>Key Result Area</th>
                                <th>Bobot</th>
                                <th>Base line</th>
                                <th>Target</th>
                                <th>Hasil</th>
                                <th>Total (3 x 7)</th>
                                <th >Comments</th>

                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2">1</td>
                                    <td rowspan="2">Bekerja sama dengan pihak HUMAS dalam administrasi
                                                    PMB calon mahasiswa S2 STEI Tazkia</td>
                                    <td rowspan="2">10,00</td>
                                    <td rowspan="2">4</td>
                                    <td rowspan="2">5</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">0,00</td>
                                    <td>Data base mahasiswa dan NIM sudah siap sebelum</td>

                                </tr>
                                    <td>asd</td>
                                    <!-- -->


                                <tr>
                                    <td rowspan="2">2</td>
                                    <td rowspan="2">Bekerja sama dengan pihak HUMAS dalam administrasi
                                        PMB calon mahasiswa S2 STEI Tazkia</td>
                                    <td rowspan="2">10,00</td>
                                    <td rowspan="2">4</td>
                                    <td rowspan="2">5</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">0,00</td>
                                    <td>Data base mahasiswa dan NIM sudah siap sebelum</td>

                                </tr>
                                <td>asd</td>
                                <!-- -->




                                <tfoot>
                                    <th>Total Bobot I</th>
                                    <th></th>
                                </tfoot>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>