<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Daftar Bawahan</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Subordinates</h4>
                            <p class="category">Daftar Bawahan</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-bordered">
                                <thead >
                                <th>No.</th>
                                <th>Nama</th>
                                <th>Devisi</th>
                                <th>Jenis Kelamin</th>
                                <th>Tanggal Lahir</th>
                                <th>Alamat</th>
                                <th>Aksi</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Gifar Haidar</td>
                                    <td>sadds</td>
                                    <td>Laki-Laki</td>
                                    <td>31-Juli-1999</td>
                                    <td>Tugu</td>
                                    <td><a th:href="@{/daftarbawahan/komen}" class="btn btn-warning">Lihat Komentar</a></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Intan Nabila</td>
                                    <td>sddas</td>
                                    <td>Perempuan</td>
                                    <td>04-Juni-1999</td>
                                    <td>Cisarua</td>
                                    <td><button type="submit" class="btn btn-warning">Lihat Komentar</button></td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>