<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Penilaian Kinerja Staf</title>
</head>


<body>
<section layout:fragment="content">

    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Penilaian Kinerja</h2>
                            <p class="category"></p>
                        </div>
                        <hr/>

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#individual" role="tab" data-toggle="tab">Invidiual Achievment Score</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tazkiavalue" role="tab" data-toggle="tab">Tazkia Value Score</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <form th:action="@{/daftarbawahan/form}" th:object="${score}" method="post">
                            <input type="hidden" name="staff" th:value="${staff.id}">

                        <span class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active" id="individual">
                              <div class="container">
                                  <!---->
                                  <span th:each="k,row : ${individual}">
                                <div class="row form-group has-danger" >
                                    <div class="col-sm-5">
                                        <table class="table table-striped" >
                                            <thead>

                                            <tr>
                                                <th>Key Result Area</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td th:text="${(row.index + 1)}"><h3>1</h3></td>
                                                <td th:text="${k.kpi.keyResult}">Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                    mahasiswa S2 STEI Tazkia</td>
                                            </tr>
                                            </tbody>

                                        </table>


                                              <div class="dropdown">
                                                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">View(s) Evidence
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                  <li>
                                                      <a target="output">HTML</a>
                                                  </li>
                                                </ul>
                                              </div>

                                    </div>


                                    <br/><br/>
                                    <div class="col-sm-5">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td >Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${k.kpi.weight}" ></span></td>
                                                <td>Target : <span th:text="${k.kpi.target}"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Base line : <span th:text="${k.kpi.baseLine}" ></span></td>
                                                <td>Hasil &nbsp;&nbsp;: </td>
                                            </tr>
                                            <tr>
                                                <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

<br>

                                 <tr th:each="ind,row : ${k.kpi.indicatorsList}">
                                     <br>
                                        <table class="table table-hover">
                                     <tr >
                                       <div  class="input-group-text">
                                             <td ><b> <input type="radio" th:value="${ind.id}" th:text="${ind.score}" th:name="${k.kpi.id+'-score'}" autocomplete="off"> </b> </td>
                                       </div>
                                             <td th:text="${ind.content}"></td>
                                     </tr>
                                        </table>
                                 </tr>
                                 </span>
                              </div>
                            </div>

                                  <!---->








                            <!--TAZKIA VALUE PANEL-->
                            <div role="tabpanel" class="tab-pane fade" id="tazkiavalue">
                                <div class="container">
                                    <span th:each="k,row : ${tazkiaValue}">

                                    <div class="row form-group has-danger">
                                        <div class="col-sm-5">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Key Result Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td th:text="${(row.index + 1)}"><h3>1</h3></td>
                                                    <td th:text="${k.kpi.keyResult}">Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                        mahasiswa S2 STEI Tazkia</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                              <div class="dropdown">
                                                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">View(s) Evidence
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                  <li>
                                                      <a target="output">HTML</a>
                                                  </li>
                                                </ul>
                                              </div>
                                        </div>


                                        <br/><br/>
                                        <div class="col-sm-5">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td >Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${k.kpi.weight}" ></span></td>
                                                    <td>Target : <span th:text="${k.kpi.target}"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Base line : <span th:text="${k.kpi.baseLine}" ></span></td>
                                                    <td>Hasil &nbsp;&nbsp;: </td>
                                                </tr>
                                                <tr>
                                                    <td>Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>



                                <br>

                                    <tr th:each="ind,row : ${k.kpi.indicatorsList}">

                                    <br>
                                        <table class="table table-hover">
                                     <tr >
                                       <div  class="input-group-text">
                                             <td ><b> <input type="radio"   th:value="${ind.id}"  th:text="${ind.score}"  th:name="${k.kpi.id+'-score'}" autocomplete="off"> </b> </td>
                                       </div>
                                             <td th:text="${ind.content}"></td>
                                     </tr>
                                        </table>
                                 </tr>
                                    </span>
                                </div>
                            </div>
                            <!--ENDTAZKIAVALUE-->




                        </span>

                            <center>
                            <div class="row form-group has-danger">
                               <div class="card-footer">
                                   <button class="btn btn-info" type="submit">NILAI</button>
                               </div>
                            </div>
                            </center>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>


</html>