<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Penilaian Kinerja Staf</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Penilaian Kinerja</h2>
                            <p class="category"></p>
                        </div>
                        <hr/>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#individual" role="tab" data-toggle="tab">Invidiual Achievment Score</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tazkiavalue" role="tab" data-toggle="tab">Tazkia Value Score</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="individual">
                                <div class="container">
                                    <!---->
                                    <span th:each="sd,row  : ${individual}">
                                    <div class="row form-group has-danger">
                                        <div class="col-sm-5">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Key Result Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><h3 th:text="${(row.index + 1)}">1</h3></td>
                                                    <td th:text="${sd.score.kpi.keyResult}">Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                        mahasiswa S2 STEI Tazkia</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Employee Comments :</b></td>
                                                    <td><p><h5 th:text="${sd.content}">"NIRM dari Kemenag sudah didapatkan sebelum UAS semester berjalan"</h5></p></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                                        <a th:href="@{/daftarbawahan/evidence/detail(staff=${sd.author.id},kpi=${sd.score.kpi.id})}" class="btn btn-primary">View(s) Evidence</a>


                                                        <td>
                                                            <span th:each="rs : ${roles}">
                                                                <a th:href="@{'/daftarbawahan/form#' + ${sd.score.kpi.id}(role=${rs.id},staff=${sd.author.id})}" class="btn btn-info">Revision</a>
                                                            </span>
                                                         </td>


                                        </div>
                                        <br/><br/>
                                        <div class="col-sm-5">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${sd.score.kpi.weight}">10,00</span></td>
                                                    <td>Target : <span th:text="${sd.score.kpi.target}">4asd</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Base line : <span th:text="${sd.score.kpi.baseLine}">10</span></td>
                                                    <td>Hasil &nbsp;&nbsp;: <span th:text="${sd.score.score}"></span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <label><b><span th:text="${sd.score.score}">5</span> . <span th:text="${sd.score.remark}">NIRM dari Kemenag sudah didapatkan sebelum</span></b> </label>
                                        </div>
                                    </div>
                                    <br>
                                    </span>

                                </div>



                            </div>


                            <!--TAZKIA VALUE PANEL-->
                            <div role="tabpanel" class="tab-pane fade" id="tazkiavalue">

                                <div class="container">
                                    <!---->
                                    <span th:each="tv,row  : ${tazkiaValue}">
                                    <div class="row form-group has-danger">
                                        <div class="col-sm-5">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Key Result Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><h3 th:text="${(row.index + 1)}">1</h3></td>
                                                    <td th:text="${tv.score.kpi.keyResult}">Bekerja sama dengan pihak HUMAS dalam administrasi PMB calon
                                                        mahasiswa S2 STEI Tazkia</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Employee Comments :</b></td>
                                                    <td><p><h5 th:text="${tv.content}">"NIRM dari Kemenag sudah didapatkan sebelum UAS semester berjalan"</h5></p></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <a th:href="@{/daftarbawahan/evidence/detail(staff=${tv.author.id},kpi=${tv.score.kpi.id})}" class="btn btn-primary">View(s) Evidence</a>


                                        </div>
                                        <br/><br/>
                                        <div class="col-sm-5">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Bobot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span th:text="${tv.score.kpi.weight}">10,00</span></td>
                                                    <td>Target : <span th:text="${tv.score.kpi.target}">4asd</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Base line : <span th:text="${tv.score.kpi.baseLine}">10</span></td>
                                                    <td>Hasil &nbsp;&nbsp;: <span th:text="${tv.score.score}"></span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            <label><b><span th:text="${tv.score.score}">5</span> . <span th:text="${tv.score.remark}">NIRM dari Kemenag sudah didapatkan sebelum</span></b> </label>
                                        </div>
                                    </div>
                                    <br>
                                    </span>

                                </div>

                            </div>
                            <!--ENDTAZKIAVALUE-->

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
