<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Daftar Bawahan</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" th:text="${' ' + roles.roleName}">List of Subordinates</h4>
                            <p class="category">Daftar Bawahan</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-bordered">
                                <thead>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Departement</th>
                                <th>Area</th>
                                <th><b>Total KPI</b></th>
                                <th th:colspan="6">
                                    <center>Action</center>
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="sd, row : ${listSubordinate}">
                                    <td th:text="${(row.index + 1)}"></td>
                                    <td th:text="${sd.nama}">Thuba Jazil, M.Sc., (Fin)</td>
                                    <td th:text="${sd.department}">Prodi Bisnis & Manajemen Islam</td>
                                    <td th:text="${sd.area}">Puket I</td>
                                    <td th:text="${sd.jumlahKpi}" style="font-weight:bold"></td>
                                    </td>

                                    <td><a  th:href="@{/lihatpenilaian/total(role=${roles.id},staff=${sd.id})}"
                                           class="btn btn-success">See Total Score</a></td>

                                    <td><a  th:href="@{/daftarbawahan/nilai(role=${roles.id},staff=${sd.id})}"
                                       class="btn btn-info">Ratings Penilaian</a></td>

                                    <td><a th:href="@{/daftarbawahan/form(role=${roles.id},staff=${sd.id})}"
                                           class="btn btn-warning">Input Kpi Value</a></td>

                                    <td><a th:href="@{/daftarbawahan/komen(role=${roles.id},staff=${sd.id})}"
                                           class="btn btn-primary">See Comments</a></td>

                                    <td><a th:href="@{/role/form(role=${roles.id})}"
                                           class="btn btn-danger">Edit KPI</a></td>

                                    <td><a th:href="@{/daftarbawahan/detail(role=${roles.id},staff=${sd.id})}"
                                           class="btn">See Details</a></td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

</body>
</html>