<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Daftar Role Karyawan</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" >
                        <div class="header">
                            <h4 class="title">List of Staff</h4>
                            <p class="category">Daftar Karyawan</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table" border="0">
                                <form method="get">
                                    <tr>
                                        <td>Search by :
                                            <input type="text" id="search" autocomplete="off"
                                                   placeholder="Search Name Here" name="search"
                                                   th:value="${search}">
                                            <input type="submit" value="Search" class="btn btn-success">
                                            |
                                            <a th:href="@{/pengecek/role}" class="btn btn-primary">Cari Role</a>
                                        </td>

                                    </tr>

                                </form>
                            </table>
                            <div class="container-fluid">
                                <table class="table table-bordered">
                                    <thead>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Departement</th>
                                    <!--<th>Area</th>-->
                                    <th>Role Name</th>
                                    <th><b>Total KPI</b></th>
                                    <th><b>Fillment Status</b></th>
                                    <th><b>Assessment status</b></th>
                                    <th th:colspan="4">
                                        <center>Action</center>
                                    </th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sd, row : ${viewall}">
                                        <td th:text="${(row.index + 1)}"></td>
                                        <td th:text="${sd.nama}">Thuba Jazil, M.Sc., (Fin)</td>
                                        <td th:text="${sd.department}">Prodi Bisnis & Manajemen Islam</td>
                                        <!--<td th:text="${sd.area}">Puket I</td>-->
                                        <td th:text="${sd.namaRole}">Puket I</td>
                                        <td th:text="${sd.jumlahKpi}" style="font-weight:bold"></td>
                                        <td th:if="${sd.statusPengisian != null}"  th:text="${sd.statusPengisian}" style="color: green">DONE</td>
                                        <td th:if="${sd.statusPengisian == null}" style="color: red">UNDONE</td>
                                        <td th:if="${sd.statusPenilaian != null}"  th:text="${sd.statusPenilaian}" style="color: green">DONE</td>
                                        <td th:if="${sd.statusPenilaian == null}" style="color: red">UNDONE</td>


                                        <td><a target="output" th:href="@{/lihatpenilaian/total(staff=${sd.id},periode=${periode.id})}"
                                               class="btn btn-warning">See Total Score</a></td>
                                        <span>
                                            <td><a th:href="@{/daftarbawahan/form(role=${sd.idRole},staff=${sd.id})}"
                                                   class="btn btn-success">Input Kpi Value</a></td>
                                        </span>
                                        <td><a th:href="@{/daftarbawahan/detail(role=${sd.idRole},staff=${sd.id})}" target="output"
                                               class="btn">See Details</a></td>
                                    </tr>
                                    <!--<tr th:each="sd: ${status}">-->
                                        <!--<td th:text="${sd.status}" ></td>-->
                                    <!--</tr>-->

                                    </tbody>
                                </table>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>