<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Detail Evidence</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Input Evidence</h2>
                            <p class="category"></p>
                        </div>
                        <hr/>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="individual">
                                <div class="container">
                                    <!---->
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="card">

                                                    <div class="content">
                                                            <br>
                                                            <div class="row col-sm-offset-1">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label><b>KPI</b></label><br><br>

                                                                      <p th:text="${kpi.keyResult}"></p>
                                                                        <span>
                                                                        </span>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label><b>Category</b></label><br><br>
                                                                        <p th:if="${kpi.category.id == '001'}">Individual Score</p>
                                                                        <p th:if="${kpi.category.id == '002'}">Tazkia Value Score</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label><b>Periode</b></label><br><br>
                                                                        <span th:text="${periode.periodeName}"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                        <!--Link View Evidence-->
                                                        <hr>
                                                        <div class="list-group" th:each="ev : ${detailEvidence}">
                                                            <a th:href="@{/uploaded/{evidence}/bukti/(evidence=${ev.id})}"
                                                               th:text="${ev.description}" class="list-group-item list-group-item-action">Dapibus ac facilisis in
                                                            </a>
                                                        </div>
                                                        <hr>
                                                        <!---------------------->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>