<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Daftar Evidence</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Input Evidence</h2>
                            <p class="category"></p>
                        </div>
                        <hr/>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="individual">
                                <div class="container">
                                    <!---->
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="content table-responsive table-full-width">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <th>No.</th>
                                                            <th>Key Result</th>
                                                            <th>Category</th>
                                                            <th>Fillment Status</th>
                                                            <th colspan="2">
                                                                <center>Aksi</center>
                                                            </th>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="sd,row  : ${status}">
                                                                <td th:text="${(row.index + 1)}">1</td>
                                                                <td th:text="${sd.kpi.keyResult}">Aku pulang</td>
                                                                <td th:text="${sd.kpi.category.name}"><b>Individual Score</b></td>
                                                                <td th:if="${sd.status != null}"  th:text="${sd.status}" style="color: green"></td>
                                                                <td th:if="${sd.status == null}" style="color: red">BELUM</td>
                                                                <td>
                                                                    <center><a
                                                                            th:href="@{/daftarbawahan/evidence/form(role=${role.id},id=${sd.kpi.id})}"
                                                                            target="output" class="btn btn-success">Upload
                                                                        Evidence</a></center>
                                                                </td>
                                                                <td>
                                                                    <center>
                                                                        <div class="dropdown">
                                                                            <a th:href="@{/daftarbawahan/evidence/detail(staff=${staff.id},kpi=${sd.kpi.id})}" class="btn btn-primary">View(s) Evidence</a>
                                                                        </div>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            <!--<tr th:each="data : ${status}">-->
                                                                <!--<td th:text="${data.kpi}"></td>-->
                                                            <!--</tr>-->


                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>