<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="title">Periode</h2>
                            <p class="category">
                                <a th:href="@{/periode/form}" class="btn btn-info col-sm-offset-10"><i
                                        class="ti-pencil"></i> Create New Periode</a>
                            </p>
                        </div>
                        <hr/>

                        <!-- Tab panes -->
                        <div class="container">
                            <!---->
                            <div class="content">
                            <div class="col-md-12" th:each="list : ${list}">
                                <div class="card text-white bg-secondary">
                                    <div class="card-header">
                                        <span th:text="${list.periodeName}">Periode 1</span> &nbsp;
                                        <span th:if="${list.active == 'AKTIF'}" class="label label-success">Active Period</span>
                                        <span th:if="${list.active == 'NONAKTIF'}" class="label label-danger"> Inactive Period</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${list.description}">Input kpi di periode 1</h5>
                                        <p class="card-text"><span th:text="${list.startDate}">28-Juli-2022 </span> <b>s/d</b>
                                            <span th:text="${list.endDate}">28-Juli-2025</span></p>

                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <form th:action="@{/periode/aktif(id=${list.id})}" method="post">

                                                        <button type="submit" class="btn btn-success"
                                                                th:if="${list.active == 'NONAKTIF'}">
                                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                                                class="ti-unlock"></i> Aktifkan
                                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        </button>
                                                    </form>

                                                    <form th:action="@{/periode/nonaktif(id=${list.id})}" method="post">
                                                    <button type="submit" class="btn btn-warning"
                                                            th:if="${list.active == 'AKTIF'}"><i class="ti-lock"></i>
                                                        Non Aktifkankan
                                                    </button>
                                                    </form>

                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="submit" class="btn btn-info"><i class="ti-pencil"></i>
                                                        Edit
                                                    </button>
                                                    <button type="submit" class="btn btn-danger"><i
                                                            class="ti-eraser"></i> Hapus
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <br><br>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!---->
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>