<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Dashboard KPI</title>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('timeLive').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }

    </script>
</th:block>

<body onload="startTime()">
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List period</h4>
                            <p class="category"></p>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-responsive">
                                        <thead >
                                        <th>No.</th>
                                        <th>Period Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Active</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="p,row : ${periode}">
                                                <td th:text="${(row.index + 1)}">1</td>
                                                <td th:text="${p.periodeName}">Periode 1</td>
                                                <td th:text="${p.startDate}">2018-02-02</td>
                                                <td th:text="${p.endDate}">2018-02-02</td>
                                                <td th:if="${p.active == 'AKTIF'}"><span class="label label-success">Active Period</span></td>
                                                <td th:if="${p.active == 'NONAKTIF'}"><span class="label label-danger">Inactive Period</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="col-md-6">
                    <div class="card " style="height: 160px">
                        <div class="header">
                            <center>
                                <h4 class="title">Current Date Time</h4>
                            </center>
                        </div>
                        <hr>
                        <div class="body">
                            <div >
                            <center>
                                <h4><span th:text="${waktuSekarang}"></span>&nbsp;|&nbsp;
                                    <span id="timeLive"></span>
                                    <span th:text="${zoneSekarang}"></span>
                                </h4>
                            </center>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="card " style="height: 160px">
                        <div class="header">
                            <center>
                            <h4 class="title">Staff Total</h4>
                            </center>
                        </div>
                        <hr>
                        <div class="body">
                        <center>
                           <h4><span th:text="${jmlStaff}"></span></h4>
                        </center>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card " style="height: 160px">
                        <div class="header">
                            <center>
                                <h4 class="title">Role Total</h4>
                            </center>
                        </div>
                            <hr>
                            <div class="body">
                                <center>
                                    <h4><span th:text="${jmlRole}"></span></h4>
                                </center>
                            </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

</body>

</html>