<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Dashboard KPI</title>
</head>


<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List period</h4>
                            <p class="category"></p>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-responsive">
                                        <thead >
                                        <th>No.</th>
                                        <th>Period Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Active</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="p,row : ${periode}">
                                                <td th:text="${(row.index + 1)}">1</td>
                                                <td th:text="${p.periodeName}">Periode 1</td>
                                                <td th:text="${p.startDate}">2018-02-02</td>
                                                <td th:text="${p.endDate}">2018-02-02</td>
                                                <td th:if="${p.active == 'AKTIF'}"><span class="label label-success">Active Period</span></td>
                                                <td th:if="${p.active == 'NONAKTIF'}"><span class="label label-danger">Inactive Period</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="col-md-6">
                    <div class="card">

                        <div class="header">
                            <h4 class="title">Next Feature</h4>
                            <p class="category">Under Construction</p>
                        </div>
                        <div class="content">


                            <div class="body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td></td>
                                        <td ></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>


                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-timer"></i> Updated
                                </div>
                            </div>


                        </div>

                    </div>
                </div>



                <div class="col-md-6">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">Next Feature</h4>
                            <p class="category">Under Construction</p>
                        </div>
                        <div class="content">
                                <div class="body">

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td th:text="${jumlahKaryawan}"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <div class="footer">

                                <hr>
                                <div class="stats">
                                    <i class="ti-check"></i> Data information certified
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>


</html>