<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Kpi</title>
</head>
<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Kpi</h4>
                            <p class="category">Daftar Kpi</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table" border="0">
                                <form method="get">
                                    <tr>
                                        <td>Search by :
                                            <input type="text" id="keyresult" autocomplete="off"
                                                   placeholder="key result" name="keyresult"
                                                   th:value="${keyresult}">
                                            <input type="submit" value="Search" class="btn btn-success"></td>
                                    </tr>
                                    <tr style="border-bottom-color: whitesmoke">
                                        <td>Show <span sd:page-size-selector="javascript"></span> entries</td>
                                    </tr>
                                </form>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                <th>No.</th>
                                <th>Key Result</th>
                                <th>Weight</th>
                                <th>Base Line</th>
                                <th>Target</th>
                                <th colspan="2">
                                    <center>Aksi</center>
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="key,row : ${data}">
                                    <td th:text="${(row.index + 1) + (data.number * data.size)}">1</td>
                                    <td th:text="${key.keyResult}">Menjadikan nilai-nilai Islam sebagai landasan dalam
                                        mengambil keputusan
                                    </td>
                                    <td th:text="${key.weight}">2</td>
                                    <td th:text="${key.baseLine}">4</td>
                                    <td th:text="${key.target}">3</td>
                                    <td><a href="#" class="btn btn-warning"> Edit</a></td>
                                    <td><a href="#" class="btn btn-danger"> Hapus</a></td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div sd:pagination-summary="" style="font-size: small">info</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <nav class="pull-right">
                                        <ul class="pagination" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                            </li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>