<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar KPI</title>
</head>
<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Kpi</h4>
                            <p class="category">Daftar Kpi</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table" border="0">
                                <form method="get">
                                    <tr>
                                        <td>Search by :
                                                <input type="text" id="keyresult" autocomplete="off"
                                                       placeholder="key result" name="keyresult"
                                                       th:value="${keyresult}">
                                                <input type="submit" value="Search" class="btn btn-success">  |
                                                    <button type="button" class="btn btn-primary" id="myBtn">
                                                        Upload Kpi
                                                    </button>  |
                                                    <a th:href="@{/kpi/form}" class="btn btn-info"> New Kpi</a>
                                        </td>
                                    </tr>
                                    <tr style="border-bottom-color: whitesmoke">
                                        <td>Show <span sd:page-size-selector="javascript"></span> entries</td>
                                    </tr>
                                </form>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                <th>No.</th>
                                <th>Key Result</th>
                                <th>Weight</th>
                                <th>Base Line</th>
                                <th>Target</th>
                                <th colspan="2">
                                    <center>Aksi</center>
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="key,row : ${data}">
                                    <td th:text="${(row.index + 1) + (data.number * data.size)}">1</td>
                                    <td th:text="${key.keyResult}">Menjadikan nilai-nilai Islam sebagai landasan dalam
                                        mengambil keputusan
                                    </td>
                                    <td th:text="${key.weight}">2</td>
                                    <td th:text="${key.baseLine}">4</td>
                                    <td th:text="${key.target}">3</td>
                                    <td><a th:href="@{/kpi/update(id=${key.id})}" target="_blank"
                                           class="btn btn-warning"> Edit</a></td>
                                    <td><a th:href="@{/kpi/hapus(kpi=${key.id})}" class="btn btn-danger"> Delete</a></td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div sd:pagination-summary="" style="font-size: small">info</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <nav class="pull-right">
                                        <ul class="pagination" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                            </li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <form th:action="@{/upload/kpi}" method="post" enctype="multipart/form-data">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Upload Kpi
                                <a th:href="@{/contoh/kpi}"
                                   class="btn btn-info" style="margin-left: 45%" type="submit">Example File Upload</a>
                            </h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload File :</label>
                                        <input type="file" name="kpiFile" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Role :</label><br>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <select class="js-example-placeholder-single form-control border-input"
                                                name="staffRole">
                                            <option value=""></option>
                                            <option th:each="sr :${staffRole}"
                                                    th:text="${sr.roleName}"
                                                    th:value="${sr.id}">Ketua
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input type="checkbox" id="pakaiHeader" name="pakaiHeader" checked value="true" class="filled-in">
                            <label for="pakaiHeader">Use Column Headings</label><br>

                            <br>
                            <p>
                                <b>Note :</b><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. 001 for Individual Score <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. 002 for Tazkia Score
                            </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Upload File</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>



</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "--Select Role--",
        allowClear: true
    });

    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });
</script>