<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8"/>
    <title>Input Role</title>
</head>


<body>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        var kpiSekarang = /*[[${kpiSekarang}]]*/ ["001"];
        var kpiSekarang2 = /*[[${kpiSekarang2}]]*/ ["002"];

        $(document).ready(function () {
            $('#pilihanKpi').select2();
            console.log("Kpi sekarang : " + kpiSekarang);

            var kpiSekarangId = [];
            for (var i = 0; i < kpiSekarang.length; i++) {
                kpiSekarangId.push(kpiSekarang[i].id);
            }

            console.log("ID Kpi sekarang : " + kpiSekarangId);

            $('#pilihanKpi').val(kpiSekarangId);
            $('#pilihanKpi').trigger("change");

      //----------------------------------------------------//

            $('#pilihanKpi2').select2();
            console.log("Kpi sekarang 2 : " + kpiSekarang2);

            var kpiSekarang2Id = [];
            for (var i2 = 0; i2 < kpiSekarang2.length; i2++) {
                kpiSekarang2Id.push(kpiSekarang2[i2].id);
            }

            console.log("ID Kpi sekarang 2 : " + kpiSekarang2Id);

            $('#pilihanKpi2').val(kpiSekarang2Id);
            $('#pilihanKpi2').trigger("change");

        });


    </script>
</th:block>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Input Role</h4>
                        </div>
                        <div class="content">
                            <form th:action="@{/role/form}" th:object="${role}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Role Name</label>
                                            <input type="hidden" name="id" th:field="*{id}">
                                            <input type="hidden" name="status" th:field="*{status}">
                                            <input type="text" th:field="*{roleName}" class="form-control border-input"
                                                   name="roleName" placeholder="Role Name"><br>
                                            <label>Superior Role</label>
                                            <select class="js-example-placeholder-single js-states form-control border-input"
                                                    name="superiorRole" th:field="*{superiorRole}">
                                                <option value=""></option>
                                                <option th:each="sr :${staffRole}"
                                                        th:text="${sr.roleName}"
                                                        th:value="${sr.id}">Ketua
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label><br>
                                            <textarea name="description" style="height: 120px"
                                                      placeholder="Description" th:field="*{description}"
                                                      class="form-control border-input"
                                                      maxlength="254"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Individual Score</label>
                                            <select name="kpi" id="pilihanKpi" class="form-control" multiple="multiple">
                                                <option th:each="rl: ${pilihanKpi}"
                                                        th:text="${rl.keyResult + '&nbsp&nbsp&nbsp&nbsp' +'('+rl.category.name+')'}"
                                                        th:value="${rl.id}"
                                                        th:if="${rl.category.id == '001'}">Lektor
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tazkia Score</label>
                                            <select name="kpi" id="pilihanKpi2" class="form-control" multiple="multiple">
                                                <option th:each="rl2: ${pilihanKpi}"
                                                        th:text="${rl2.keyResult + '&nbsp&nbsp&nbsp&nbsp' +'('+rl2.category.name+')'}"
                                                        th:value="${rl2.id}"
                                                        th:if="${rl2.category.id == '002'}">Lektor2
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Individual Bobot</th>
                                    <th>Tazkia Value Bobot</th>
                                    </thead>
                                    <tr >
                                        <span th:each="bbt, row : ${bobot}" >
                                        <td th:text="${bbt.weight}" th:if="${bbt.cname == '001'}"></td>
                                        </span>
                                        <span th:each="bbt, row : ${bobot}" >
                                        <td th:text="${bbt.weight}" th:if="${bbt.cname == '002'}">a</td>
                                        </span>
                                    </tr>
                                </table>
                                <hr>


                                <div class="clearfix">
                                  <center>
                                      <a th:href="@{/daftarbawahan/list(role=${role.id})}" class="btn btn-danger">Back</a> |
                                      <button type="submit" class="btn btn-success saveConfirm" onclick="return confirm('Are you sure?')">Save</button> |
                                      <a th:href="@{/data/kpi(staffRole=${role.id})}" class="btn btn-info" type="submit">Download KPI</a> |
                                       <form method="get">
                                           <button type="button" class="btn btn-primary" id="myBtn">
                                               Upload Kpi
                                           </button>
                                       </form>
                                  </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!--MODAL UPLOAD-->
                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <form th:action="@{/upload/kpi}" method="post" enctype="multipart/form-data">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Upload Kpi
                                            <a th:href="@{/contoh/kpi}"
                                               class="btn btn-info" style="margin-left: 45%" type="submit">Tutorial Upload KPI</a>
                                        </h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label>Upload File :</label>
                                                    <input type="file" name="kpiFile" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input type="hidden" name="staffRole" th:value="${role.id}">
                                                    <label>Role :</label><br>
                                                    <input type="text" th:field="${role.roleName}" readonly class="form-control border-input">
                                                </div>
                                            </div>
                                        </div>

                                        <input type="checkbox" id="pakaiHeader" name="pakaiHeader" checked value="true" class="filled-in">
                                        <label for="pakaiHeader">Use Column Headings</label><br>

                                        <br>
                                        <p>
                                            <b>Note :</b><br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. 001 for Individual Score &nbsp;|&nbsp; 002 for Tazkia Score <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. The only upload format that allowed is CSV<br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3. Column Headings Option's for using a title at top of the upload CSV <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4. More info about how to upload KPI is on '<b>Tutorial Upload KPI</b>'

                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Upload File</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!---->


            </div>
        </div>
    </div>
</section>

</body>
</html>
<script>

    $(".js-example-placeholder-single").select2({
        placeholder: "--Superior Role--",
        allowClear: true
    });

    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });

    $('.saveConfirm').click(function () {
        swal({
            position: 'middle',
            type: 'success',
            title: 'Successful',
            showConfirmButton: false,
            timer: 1500
        })
    });

</script>