<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<head>
    <meta charset="UTF-8"/>
    <title>Input Staff</title>
</head>
<body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        var kpiSekarang = /*[[${kpiSekarang}]]*/ ["001", "002"];
        $( document ).ready(function() {
            $('#pilihanKpi').select2();
            console.log( "Kpi sekarang : "+kpiSekarang);

            var kpiSekarangId = [];
            for(var i=0; i<kpiSekarang.length; i++) {
                kpiSekarangId.push(kpiSekarang[i].id);
            }

            console.log( "ID Kpi sekarang : "+ kpiSekarangId);

            $('#pilihanKpi').val(kpiSekarangId);
            $('#pilihanKpi').trigger("change");
        });

    </script>
</th:block>

<section layout:fragment="content">
    <br>
    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Input Role</h4>
                        </div>
                        <div class="content" th:each="role : ${role}">
                            <form th:action="@{/role/kpi(role=${role.id})}"  method="post">
                                <!--<input type="hidden" th:field="*{staff}" />-->
                                <center>
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Silahkan pilih role</label>
                                                <br>
                                                <b>
                                                    <span th:text="${role.roleName}"></span>
                                                    <input type="hidden" name="roles" th:value="${role.id}">
                                                </b>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Silahkan pilih Kpi</label>
                                                <select name="kpi" id="pilihanKpi" class="form-control" 			                                 multiple="multiple" >
                                                    <option  th:each="rl: ${pilihanKpi}"
                                                             th:text="${rl.keyResult + '&nbsp&nbsp&nbsp&nbsp' +'('+rl.category.name+')'}"
                                                             th:value="${rl.id}">Lektor
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </center>
                                <hr>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Input Role Karyawan</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>


</section>


</body>
</html>
