<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<section layout:fragment="content">
    <br/>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">List of Kpi</h4>
                            <p class="category">Daftar Kpi</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table" border="0">
                                <form method="get">
                                    <tr>
                                        <td>Search by :
                                            <input type="text" id="role" autocomplete="off"
                                                   placeholder="Role Name" name="role"
                                                   th:value="${role}">
                                            <input type="submit" value="Search" class="btn btn-success">
                                            <a th:href="@{/role/form}" class="btn btn-info col-sm-offset-6">Create New Role</a>
                                        </td>
                                    </tr>
                                    <tr style="border-bottom-color: whitesmoke">
                                        <!--<td>Show <span sd:page-size-selector="javascript"></span> entries</td>-->
                                    </tr>
                                </form>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                <th>No.</th>
                                <th>Role Name</th>
                                <th>Description</th>
                                <th >
                                    <center>Aksi</center>
                                </th>
                                </thead>
                                <tbody>
                                <tr th:each="l,row : ${roleList}">
                                    <td  th:text="${(row.index + 1) + (roleList.number * roleList.size)}">1</td>
                                    <td th:text="${l.roleName}">Staff</td>
                                    <td th:text="${l.description}">asaa</td>
                                    <td><center><a target="output" th:href="@{/role/form(role=${l.id})}" class="btn btn-info">Edit</a></center></td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div sd:pagination-summary="" style="font-size: small">info</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <nav class="pull-right">
                                        <ul class="pagination" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                            </li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>